absl-py==1.4.0
asgiref==3.7.2
asttokens==2.2.1
autotask==0.5.4
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
bottle==0.12.25
bottle-websocket==0.2.9
cachetools==5.3.0
cefpython3==66.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
colorama==0.4.6
contourpy==1.0.7
customtkinter==5.2.0
cycler==0.11.0
darkdetect==0.8.0
decorator==5.1.1
dj-database-url==0.5.0
Django==2.2.10
django-filter==23.5
django-phonenumber-field==7.3.0
djangorestframework==3.14.0
docutils==0.19
Eel==0.16.0
executing==1.2.0
filelock==3.11.0
fireflyalgorithm==0.3.4
fonttools==4.39.3
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
google-auth==2.17.3
google-auth-oauthlib==1.0.0
greenlet==3.0.0rc3
grpcio==1.54.0
idna==3.4
importlib-metadata==6.6.0
ipython==8.12.0
jaraco.classes==3.2.3
jedi==0.18.2
Jinja2==3.1.2
keyring==23.13.1
kiwisolver==1.4.4
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
more-itertools==9.1.0
mpmath==1.3.0
mysqlclient @ file:///E:/cooperative/coop1/mysqlclient/mysqlclient-2.2.1-cp311-cp311-win_amd64.whl#sha256=8f40c872f19639366e3df27bef2ff087be0e3ee0bd3453470bd29f46b54a90f6
networkx==3.1
numpy==1.23.5
oauthlib==3.2.2
opencv-python==4.7.0.72
packaging==23.1
pandas==2.0.0
parso==0.8.3
phonenumberslite==8.13.27
pickleshare==0.7.5
Pillow==9.5.0
pkginfo==1.9.6
prompt-toolkit==3.0.38
protobuf==4.21.2
psutil==5.9.5
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pygame==2.3.0
Pygments==2.15.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
pywin32-ctypes==0.2.0
PyYAML==6.0
readme-renderer==37.3
requests==2.28.2
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.3.5
rsa==4.9
scipy==1.10.1
seaborn==0.12.2
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
stack-data==0.6.2
sympy==1.11.1
temptacious==1.0
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
thop==0.1.1.post2209072238
torch==2.0.0
torchvision==0.15.1
tqdm==4.65.0
traitlets==5.9.0
twine==4.0.2
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.15
validators==0.20.0
wcwidth==0.2.6
webencodings==0.5.1
Werkzeug==2.2.3
whichcraft==0.6.1
whitenoise==4.1.2
windows-curses==2.3.2
zipp==3.15.0
zope.event==5.0
zope.interface==6.0
