{% extends 'base.html' %}
{% load humanize %}
{% load static   %}


{% block content %}

<script>
        function copyToClipboard(thing, oncopy) {
            var buttonText = thing.innerText;
            var tempInput = document.createElement('input');
            
            tempInput.value = buttonText;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand('copy');
            document.body.removeChild(tempInput);

            // Provide feedback to the user
            if(!oncopy){
                alert('Text copied to clipboard');
            }else{
                oncopy();
            }
        }
</script>

<style>
        #them_profile{
                position: relative;
                max-width: 250px;
        }
        #them_profile img{
                object-fit: cover;
                object-position: center center;
        }
        #them_profile .btn {
                bottom: 40px;
                position: relative;
                right: -180px;
                border-radius: 50%;
                padding: 0 !important;
                width: 32px;
                height: 32px;
                text-align: center;
                display: flex;
        }

        /* toggle more detail */
        .more .more-content,
        .more .show-more .msg2{
                display: none;
        }

        .more.show .more-content,
        .more.show .show-more .msg2
        {
                display: initial;
        }
        
        .more.show .show-more .msg1{
                display: none;
        }
</style>

<form action="{% url 'members:update_profile_pic' pk=saving_ac.owner.id %}" method="post" id="profile_pic_form" style="display: none;"  enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_pic_form }}
</form>




<div class="container">
        <div class="row">
                <div class="col mx-auto text-center d-flex" style="">
                        <div class="mx-auto" style="" id="them_profile">
                                <img class="rounded-circle mr-2 border border-white shadow" width="250" height="250" src="{% if saving_ac.owner.profile_pic %}{{ saving_ac.owner.profile_pic.url }}{% else %}{% static 'default_images/default_user_male.jpg' %}{% endif %}">
                                <button class="btn btn-primary" id><i class="fa fa-edit" title="change profile"  style="
                                        margin: auto;
                                    "></i></button>
                        </div>
                </div>
        </div>

	<p>Name: <strong>{{saving_ac.owner.full_name}}</strong></p>
        Member ID: <a href="#" class="btn-group badge badge-pill badge-primary small" role="group" aria-label="Basic example" style="position: relative; top: -5px" onclick="copyToClipboard(this, ()=>{alert('The member Id {{ saving_ac.owner.mem_number}} was copied successfuly')});">
                <button type="button" class="btn btn-default btn-sm text-white" ><i class="fas fa-copy"></i></button>
                <button class="btn btn-default btn-sm text-white" >{{saving_ac.owner.mem_number}}</button >
        </a >
        <div class="more mt-3">
                <div class="more-content">
                        <p>Address: {{ member.address }} </p>
                        <p>Phone No: <a href="tel:{{ member.phone_no }}">{{ member.phone_no }}</a></p>
                        <p>Email: <a href="mailto:{{ member.email }}">{{ member.email }}</a></p>
                        <p>Next of Kin: {{ member.next_of_kin_name }}</p>
                        <p>Next of Kin Phone No: <a href="tel:{{ member.next_of_kin_phone_no }}">{{ member.next_of_kin_phone_no }}</a></p>

                </div>
                <a href="javascript:void();" class="show-more text-primary">
                        <span class="msg1">...more</span>
                        <span class="msg2">...less</span>
                </a>
        </div>
            </div>
            <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col">
                        <h3>Savings  <a href="{% url 'savings:get_savings_account' %}" class="d-inline-block ml-2" style="font-size: 15px; display: inline-block; position: relative; top:-3px"><i class="fas {% if not saving_ac.is_active %}fa-lock{% else %} fa-lock-open{% endif %}" title="This account has been {{ saving_ac.status }}"></i></a> </h3>
			<p class="text-primary">Amount: ₦{{saving_ac.current_balance|intcomma }}</p>
                        <hr>
			<a class="btn btn-primary btn-icon-split" role="button" href="{% url 'savings:depositpk' pk=saving_ac.pk %}"><span class="text-white-50 icon"><i class="fas fa-arrow-right"></i></span><span class="text-white text">Deposit &nbsp;&nbsp;</span></a><a class="btn btn-secondary btn-icon-split"
                            role="button" href="{% url 'savings:withdrawpk' pk=saving_ac.pk %}"><span class="text-white-50 icon"><i class="fas fa-arrow-right"></i></span><span class="text-white text">Withdraw</span></a>
                        <hr>
                        <p><strong>Deposit Transactions:</strong></p>
			{% for transaction in deposit_transactions %}
			<p>₦ {{ transaction.amount }} @ {{ transaction.date_created }}</p>
			{% endfor %}
                        <p><strong>Withdraw Transactions:</strong></p>
			{% for transaction in withdrawal_transactions %}
			<p>₦ {{ transaction.amount }} @ {{ transaction.date_created }}</p>
			{% endfor %}
                    </div>
                    <div class="col">
                        <h3>Shares <a href="{% url 'shares:get_shares_account' %}" class="d-inline-block ml-2" style="font-size: 15px; display: inline-block; position: relative; top:-3px"><i class="fas {% if not share_ac.is_active %}fa-lock{% else %} fa-lock-open{% endif %}" title="This account has been {{ share_ac.status }}"></i></a> </h3>
			<p class="text-primary">Amount: {{ share_ac.current_share|intcomma }}</p>
			<hr><a class="btn btn-primary btn-icon-split" role="button" href="{% url 'shares:buypk' pk=share_ac.pk %}"><span class="text-white-50 icon"><i class="fas fa-arrow-right"></i></span><span class="text-white text">Buy &nbsp; &nbsp; &nbsp;</span></a><a class="btn btn-secondary btn-icon-split" role="button" href="{% url 'shares:sellpk' pk=share_ac.pk %}"><span class="text-white-50 icon"><i class="fas fa-arrow-right"></i></span><span class="text-white text">Sell &nbsp; &nbsp; &nbsp;</span></a>
                        <hr>
                        <p><strong>Buy Transactions:</strong></p>
			{% for transaction in buy_transactions %}
			<p>{{transaction.number}} @ {{ transaction.date_created }}</p>
			{% endfor %}
                        <p><strong>Sell Transactions:</strong></p>
			{% for transaction in sell_transactions %}
			<p>{{transaction.number}} @ {{ transaction.date_created}}</p>
			{% endfor %}
                    </div>
                    <div class="col">
                        <h3>Loans <a href="{% url 'loans:get_loan_account' %}" class="d-inline-block ml-2" style="font-size: 15px; display: inline-block; position: relative; top:-3px"><i class="fas {% if not loan_ac.is_active %}fa-lock{% else %} fa-lock-open{% endif %}" title="This account has been {{ loan_ac.status }}"></i></a> </h3>
			<p class="text-primary">Amount: ₦{{loan_ac.total_principal|intcomma }}</p>
			<hr><a class="btn btn-primary btn-icon-split" role="button" href="{% url 'loans:paypk' pk=loan_ac.pk %}"><span class="text-white-50 icon"><i class="fas fa-arrow-right"></i></span><span class="text-white text">Pay &nbsp; &nbsp; &nbsp;</span></a><a class="btn btn-secondary btn-icon-split" role="button" href="{% url 'loans:issuepk' pk=loan_ac.pk %}"><span class="text-white-50 icon"><i class="fas fa-arrow-right"></i></span><span class="text-white text">Issue &nbsp; &nbsp;</span></a>
                        <hr>
                        <p><strong>Pay Transactions:</strong></p>
			{% for transaction in payment_transactions %}
			<p>₦{{transaction.principal  }} @ {{transaction.date_created}}</p>
			{% endfor %}
                        <p><strong>Issue Transactions:</strong></p>
			{% for transaction in issue_transactions %}
			<p>₦{{transaction.principal}} @ {{transaction.date_created}}</p>
			{% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}


{% block post_scripts %}

<script>

        $(document).ready(()=>{
                // redirect click on the btn to the form
                $('#them_profile .btn').on('click', ()=>{
                        $('#id_profile_pic').click();
                });

                // once the form changes submit the form
                $('#id_profile_pic').on('change', ()=>{
                        $('#profile_pic_form').submit();
                });

                $('.show-more').on('click', (e)=>{
                        $(e.target).parent().parent().toggleClass('show');
                });
        });
</script>
{% endblock post_scripts %}
