{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}

<div class="container-fluid">
	
		<h2 class="text-center" style="font-size: ;">Members Management</h2>
	
		<div class="col d-flex mt-5 ">
			<div class="mx-auto">
				<i class="fas fa-users" style="font-size: 100px;"></i>
			</div>
		</div>

	<h3 class="mb-4"><a class="btn btn-primary btn-lg" href="{% url "members:create" %}">Add a New Member + </a></h3>
	<div class="card shadow">
		<div class="card-header py-3">
			<p class="text-primary m-0 font-weight-bold">Members Info</p>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-6 text-nowrap">
					<div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
						<label>Show&nbsp;
							<select class="form-control form-control-sm custom-select custom-select-sm">
								<option value="10" selected="">10</option>
								<option value="25">25</option><option value="50">50</option>
								<option value="100">100</option>
							</select>&nbsp;
						</label>
					</div>
				</div>
				<div class="col-md-6">
					<div class="text-md-right dataTables_filter" id="dataTable_filter">
						<label>
							<input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search">
						</label>
					</div>
				</div>
			</div>
			<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
				<table class="table dataTable my-0" id="dataTable">
					<thead>
						<tr>
							<th>Mem. num</th>
							<th>Name</th>
							<th>Contact</th>
							<th>Address</th>
							<th>Member since</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						{% for member in members.all %}
						<tr>
							<td><img class="rounded-circle mr-2" width="30" height="30" src="{% if member.profile_pic %}{{ member.profile_pic.url }}{% else %}{% static 'default_images/default_user_male.jpg' %}{% endif %}">
								<a href="{% url 'members:member_detail' mem_number=member.mem_number %}" class="btn btn-primary">{{member.mem_number}}</a>

							</td>
							<td>{{member.full_name}}</td>
							<td>{{member.contact}}</td>
							<td>{{member.address}}</td>
							<td>{{member.date_created|naturaltime}}</td>
							<td>{{member.status}}</td>
						</tr>
						{% endfor %}
						<!-- <tr>
							<td><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/avatars/avatar5.jpeg">More</td>
							<td>Other member</td>
							<td>........</td>
							<td>Edinburgh</td>
							<td>2012/03/29<br></td>
							<td>Deactivated</td>
						</tr> -->
					</tbody>
					<!-- <tfoot>
						<tr>
							<td><strong>Mem. num</strong></td>
							<td><strong>Name</strong></td>
							<td><strong>Contact</strong></td>
							<td><strong>Address</strong></td>
							<td><strong>Member since</strong></td>
							<td><strong>Status</strong></td>
						</tr>
					</tfoot> -->
				</table>
			</div>
			<div class="row">
				<div class="col-md-6 align-self-center">
					<p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of ...</p>
				</div>
				<div class="col-md-6">
					<nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
						<ul class="pagination">
							<li class="page-item disabled">
								<a class="page-link" href="#" aria-label="Previous">
									<span aria-hidden="true">«</span>
								</a>
							</li>
							<li class="page-item active"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true">»</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
